body {
    background-color: #ffc2e9;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

h1{
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    color: #005792;
}

p{
    margin: 30px auto;
    font-family: 'Merriweather Light', serif;
    font-weight: 100;
    line-height: 1.4rem;
    font-size: 1.2rem;
    color: #005792;

}

hr {
    border: dotted #cca2e1 6px;
    border-bottom: none;
    width: 10%;
    margin-bottom: 20px;
}
/* code for transformation opening and closing */

.card {
    position: relative;
    height: 425px; 
    width: 300px;
    border: 10px Solid  #cca2e1;
    margin:50px auto 0 auto;
    background-color: #defcfc;
}

.card .main {
    height: 80%;
    width: 80%; 
    margin: auto;
}

.card .front {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0 0 -10px;
    border: 10px Solid #cca2e1; 
    backface-visibility: hidden;
    /* change black to the color with card (ff3e5d) */
    background-color: #a6e3e9;
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
}

.card:hover .front {
    transform: perspective(800px)  rotateY(-170deg);
}

.card:hover .back {
    transform: perspective(800px) rotateY(-170deg);
}

.card .back{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -10px 0 0 -10px;
    border: 10px Solid  #cca2e1;

    background-size: contain;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;

    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    background-color: #defcfc;
}

/* end of transformation coding */

.pic{
    max-height: 200px;
    max-width: 200px;
}

.vid{
    background-size: contain;
    margin: auto auto 50px auto;
}

